{% extends "base.html" %}
{% set active_page = "new_listing" %}

{% block title %}New Listing{% endblock %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/new_listing.css') }}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST" action="/new_listing" enctype="multipart/form-data">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <h2 class="text-center">New Listing</h2> 
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Item Title" required="required"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" name="brand" placeholder="Item Brand" required="required"/>
                    </div>
                </div>
            </div>      
            
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" rows="2" placeholder="Item Description"></textarea>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="image">Item Image</label>
                        <input type="file" name="file">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="text" class="form-control" name="stock" placeholder="Item Stock" required="required"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price" placeholder="Per Unit Price" required="required"/>
                    </div>
                </div>
            </div>  

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Post Listing</button>
            </div>        
        </form>
    </div>
{% endblock %}
